[report]
show_missing = true
omit =
  # location of dependencies in development container
  /opt/*
  # location of dependencies in production container
  /usr/local/*

[run]
data_file = artifacts/.coverage

[xml]
output = artifacts/coverage.xml

