[master]
load-plugins =
  pylint_django

ignore =
  .cache, ; needed for Gitlab's CI/CD
  database,
  docs,
  Dockerfile,
  migrations,

ignore-patterns =
  .*\.env,
  .*\.ini,
  .*\.md,
  .*\.sh,
  .*\.txt,
  .*\.xml,
  .*\.yml,

[MESSAGES CONTROL]
disable =
  trailing-newlines

