[master]
load-plugins =
  pylint_django

ignore =
  database,
  docs,
  Dockerfile,
  migrations,

ignore-patterns =
  .*\.env,
  .*\.ini,
  .*\.md,
  .*\.sh,
  .*\.txt,
  .*\.xml,
  .*\.yml,

[MESSAGES CONTROL]
disable =
  trailing-newlines

[SIMILARITIES]
min-similarity-lines = 5 # assertions are hard to DRY up and are typically 4 lines

[pylint_django]
django-settings-module = porter.settings

